.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/

infra/env/.env
infra/docker/data/

services/video-service/.venv/
services/video-service/**/*.wav
services/video-service/**/*.mp4
services/video-service/**/*.jpg

tmp/
